.project-card {
    background-color: #000000;
    height: 530px;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .project-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.line-2 {
    position: absolute;
    height: 2px;
    width: 380px;
    top: 33%;
    left: 60px;
    background-color: #222429;
  }
  
.project-title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 38%;
    position: fixed;
  }
  
.project-description {
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 38%;
    position: fixed;
    margin-left: 5.7%;
    margin-right: 5.7%;
    line-height: 1.7em;
  } 

.github-icon {
    width: 40px;
    height: 40px;
    align-self: center;
    position: fixed;
    bottom: 2%;
    left: 45%;
  } 