@media (min-width: 1880px) {

.skills-rectangle-1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: black;
  position: absolute;
  top: 18%;
  left: 20%;
  border-radius: 40px;
  height: 78%;
  width: 28%;
  color: white;
}

.skills-rectangle-1 h3 {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 5%;
  top: 1%;
}

.skills-bars {
  position: absolute;
  left: 5%;
  top: 12%;
}

.skill-icon {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

.skill-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skill-name {
  margin-right: 10px;
}

.skill-bar {
  
  height: 10px;
  width: 200px;
  margin-right: 10px;
  position: absolute;
  left: 10rem;
}

.skill-bar-fill {
  height: 100%;
  background-color: white;
}

.skill-level {
  font-size: 18px;
  position: absolute;
  left: 24rem;
}

}

@media (min-width: 1420px) and (max-width: 1440px) {

  .skills-rectangle-1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: black;
    position: absolute;
    top: 18%;
    left: 20%;
    border-radius: 40px;
    height: 78%;
    width: 28%;
    color: white;
  }
  
  .skills-rectangle-1 h3 {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 5%;
    top: 1%;
  }
  
  .skills-bars {
    position: absolute;
    left: 5%;
    top: 12%;
  }
  
  .skill-icon {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
  }
  
  .skill-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .skill-name {
    margin-right: 10px;
  }
  
  .skill-bar {
    
    height: 5px;
    width: 100px;
    margin-right: 10px;
    position: absolute;
    left: 10rem;
  }
  
  .skill-bar-fill {
    height: 100%;
    background-color: white;
  }
  
  .skill-level {
    font-size: 15px;
    position: absolute;
    left: 17rem;
  }

}