.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.rectangle {
  background-color: #222429;
  height: 90vh;
  width: 90vw;
  max-height: calc(100vh - 40px);
  max-width: calc(100vw - 40px);
  border-radius: 40px;
  position: relative;
}

.acv-heading {
  font-size: 32px;
  position: absolute;
  top: 10%;
  left: 20%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  z-index: 1;   
}

.acv-rectangle-2 {
  background-color: #000000;
  position: absolute;
  height: 77%;
  width: 77%;
  top: 18%;
  left: 20%;
  border-radius: 40px;
  align-items: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.acv-rectangle-2 p1 {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    left: 5%;
    bottom: 1%;
    line-height: 4.5rem;
    margin-right: 10%;
  }
    
.rectangle .acv-back-button {
    position: absolute;
    top: 10%;
    right: 6.5%;
    transform: translateX(-50%);
    margin-bottom: 0.8rem;
  }
  
.rectangle .acv-back-button button {
    padding: 0.1rem 1.5rem;
    width: 8em;
    height: 3em;
    border-radius: 1rem;
    font-size: 15px;
    font-weight: 600;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;

  }

  @media(max-width: 425px) {
    
    .container {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    
    .rectangle {
      background-color: #222429;
      height: 90vh;
      width: 90vw;
      max-height: calc(100vh - 40px);
      max-width: calc(100vw - 40px);
      border-radius: 40px;
      position: relative;
    }
    
    .acv-heading {
      font-size: 24px;
      position: absolute;
      top: 10%;
      left: 5%;
      text-align: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      z-index: 1;   
    }
    
    .acv-rectangle-2 {
      background-color: #000000;
      position: absolute;
      height: 78%;
      width: 270px;
      top: 18%;
      left: 8%;
      border-radius: 40px;
      align-items: left;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    
    .acv-rectangle-2 p1 {
        font-size: 12px;
        font-weight: 600;
        position: relative;
        left: 7%;
        bottom: 1%;
        line-height: 1.85rem;
        margin-right: 10%;
      }
        
    .rectangle .acv-back-button {
        position: absolute;
        top: 13%;
        left: 75%;
        transform: translateX(-50%);
        margin-bottom: 0.8rem;
      }
      
    .rectangle .acv-back-button button {
        padding: 0.1rem 1.5rem;
        width: 8em;
        height: 3em;
        border-radius: 1rem;
        font-size: 10px;
        font-weight: 600;
        background-color: black;
        color: #fff;
        border: none;
        cursor: pointer;
    
      }

  }