.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  
.rectangle {
    background-color: #222429;
    height: 90vh;
    width: 90vw;
    max-height: calc(100vh - 40px);
    max-width: calc(100vw - 40px);
    border-radius: 40px;
    position: relative;
  }
  
.heading {
    font-size: 32px;
    position: absolute;
    top: 10%;
    left: 20%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    z-index: 1;   
 }

.acv-rectangle-1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: black;
    position: absolute;
    top: 18%;
    right: 5%;
    border-radius: 40px;
    height: 350px;
    width: 45%;
    text-align: left;
}

.acv-rectangle-1 h3 {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    left: 5%;
    top: 1%;
  }
  
.acv-rectangle-1 p1 {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    left: 6%;
    top: 8%;
    line-height: 3rem;
    margin-right: 10%;
  }
  
.acv-rectangle-1 .view-more {
    position: absolute;
    bottom: 0;
    left: 22%;
    transform: translateX(-50%);
    margin-bottom: 0.8rem;
  }
  
.acv-rectangle-1 .view-more button {
    padding: 0.1rem 1.5rem;
    border-radius: 1rem;
    font-size: 16px;
    background-color: #2d2d2d;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
.acv-rectangle-1 .view-more button:hover {
    background-color: #4d4d4d;
  }

.cer-rectangle-1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: black;
    position: absolute;
    top: 65%;
    right: 5%;
    border-radius: 40px;
    height: 255px;
    width: 45%;
    text-align: left;
}

.cer-rectangle-1 h3 {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 1%;
  left: 5%;
}

.cer-rectangle-1 p1 {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  left: 6%;
  top: 8%;
  line-height: 3rem;
  margin-right: 10%;
}

.cer-rectangle-1 .view-more {
  position: absolute;
  bottom: 11.5%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.8rem;
}

.cer-rectangle-1 .view-more button {
  padding: 0.1rem 1.5rem;
  border-radius: 1rem;
  font-size: 16px;
  background-color: #2d2d2d;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cer-rectangle-1 .view-more button:hover {
  background-color: #4d4d4d;
}