@media (min-width: 1880px) {

  nav {
    display: flex;
    height: 50px;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    top: 13%;
    padding: 0px;
  }

  nav li {
    margin: 20px;
    text-align: left;
  }

  nav a {
    color: white;
    font-family: 'src/assets/Fonts/JosefinSans-Regular.ttf';
    font-size: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) { 
  
    nav {
    display: flex;
    height: 50px;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    top: 13%;
    padding: 0px;
  }

  nav li {
    margin: 20px;
    text-align: left;
  }

  nav a {
    color: white;
    font-family: 'src/assets/Fonts/JosefinSans-Regular.ttf';
    font-size: 16px;
  }
}