@media (min-width: 1880px) {

  nav {
    display: flex;
    height: 50px;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    top: 13%;
    padding: 0px;
  }

  nav li {
    margin: 20px;
    text-align: left;
  }

  nav a {
    color: white;
    font-family: 'src/assets/Fonts/JosefinSans-Regular.ttf';
    font-size: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) { 
  
    nav {
    display: flex;
    height: 50px;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    top: 13%;
    padding: 0px;
  }

  nav li {
    margin: 20px;
    text-align: left;
  }

  nav a {
    color: white;
    font-family: 'src/assets/Fonts/JosefinSans-Regular.ttf';
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  /* .menu-toggle {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
  } */
  /* .inner-rectangle .menu-toggle {
    position: absolute;
    bottom: 10%;
    left: 43%;
    margin-bottom: 0.8rem;
  }

  .inner-rectangle .menu-toggle button {
    padding: 0.1rem 1.5rem;
    border-radius: 1rem;
    font-size: 13px;
    background-color: #2d2d2d;
    color: #fff;
    border: none;
    cursor: pointer;
  } */

  nav ul {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #333;
    width: 100%;
    top: 100%;
    left: 0;
  }

  nav.active ul {
    display: block;
  }

  nav li {
    margin: 20px;
    text-align: left;
  }

  nav a {
    color: white;
    font-family: 'src/assets/Fonts/JosefinSans-Regular.ttf';
    font-size: 16px;
  }

  /* nav {
    display: flex;
    height: 50px;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    top: 13%;
    padding: 0px;
  }

  nav li {
    margin: 20px;
    text-align: left;
  }

  nav a {
    color: white;
    font-family: 'src/assets/Fonts/JosefinSans-Regular.ttf';
    font-size: 16px;
  } */

  /* .inner-rectangle {
    position: relative;
    background: var(--white);
  }
  
  .menu-toggle li:first-child .dropdown {
    flex-direction: initial;
    min-width: 480px;
  }
  
  .menu-toggle li:first-child ul:nth-child(1) {
    border-right: var(--border);
  }
  
  .menu-toggle li:nth-child(n + 2) ul:nth-child(1) {
    border-bottom: var(--border);
  }
  
  .menu-toggle .dropdown-link-title {
    font-weight: 600;
  }
  
  .menu-toggle .nav-link {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.6px;
    padding: 0.3rem;
    min-width: 60px;
    margin: 0 0.6rem;
  }
  
  .menu-toggle .nav-link:hover,
  .dropdown-link:hover {
    color: var(--primary-color);
  }
  
  .nav-start,
  .nav-end,
  .menu-toggle,
  .right-container,
  .right-container .search {
    display: flex;
    align-items: center;
  } */
}
