@media (min-width: 1880px) {

  nav {
    display: flex;
    height: 50px;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    top: 13%;
    padding: 0px;
  }

  nav li {
    margin: 20px;
    text-align: left;
  }

  nav a {
    color: white;
    font-family: 'src/assets/Fonts/JosefinSans-Regular.ttf';
    font-size: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) { 
  
    nav {
    display: flex;
    height: 50px;
    padding: 0 20px;
  }

  nav ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    top: 13%;
    padding: 0px;
  }

  nav li {
    margin: 20px;
    text-align: left;
  }

  nav a {
    color: white;
    font-family: 'src/assets/Fonts/JosefinSans-Regular.ttf';
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .sidepanel {
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 27px;
    left: 18px;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  
  /* Add "open" class to show the sidepanel */
  .sidepanel.open {
    min-width: 90vw;
    min-height: 110vh;
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 10px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  ul {
    list-style-type: none;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    cursor: pointer;
    background-color: black;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 5px 5px;
    border: none;
    background-color: #222429;
    top: 12px;
    left: 15px;
    position: relative;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
}
